# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

# Clangd files
.cache
compile_commands.json

# train/inference files
*.wav
*.m4a
*.aac
*.pt
pretrained_models/*
*_pb2_grpc.py
*_pb2.py
/speech-assistant-frontend/node_modules/
/speech-assistant-frontend/dist/

# 忽略所有音频文件
*.wav
*.m4a
*.aac
*.mp3
*.mp4

# 忽略所有大模型文件
*.pth
Wav2Lip/checkpoints/*.pth
wav2lip_model/*.pth
**/checkpoints/*.pth